@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rammetto+One&display=swap');

/*********** RESET ***********/
* 
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*********** Gallery layout ***********/
.gallery01image
{
    grid-area: i01;
}

.gallery02image
{
    grid-area: i02;
}

.gallery03image
{
    grid-area: i03;
}

.gallery04image
{
    grid-area: i04;
}

.gallery05image
{
    grid-area: i05;
}

.gallery06image
{
    grid-area: i06;
}

.gallery07image
{
    grid-area: i07;
}

.gallery08image
{
    grid-area: i08;
}

.gallery09image
{
    grid-area: i09;
}

.gallery10image
{
    grid-area: i10;
}

.gallery11image
{
    grid-area: i11;
}

.gallery12image
{
    grid-area: i12;
}

.gallery13image
{
    grid-area: i13;
}

.gallery14image
{
    grid-area: i14;
}

.gallery15image
{
    grid-area: i15;
}

.gallery16image
{
    grid-area: i16;
}

.gallery17image
{
    grid-area: i17;
}

.gallery18image
{
    grid-area: i18;
}

.gallery19image
{
    grid-area: i19;
}

.gallery20image
{
    grid-area: i20;
}

.gallery21image
{
    grid-area: i21;
}

.gallery
{   
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 7vw);
    grid-template-areas: 
        "i20 i01 i01 i02 i03 i04 i21"
        "i20 i05 i06 i07 i08 i09 i21"
        "i20 i10 i11 i11 i12 i09 i21"
        "i20 i13 i11 i11 i14 i15 i21"
        "i20 i13 i16 i17 i18 i19 i21"
    ;
    display: grid;
}
/*********** Gallery layout - DONE ***********/

/*********** Apply DRY coding ***********/

body, figure img, .dimOverlay, .link:hover:before, .link:hover:after
{
    width: 100%;
}

.head, .main, .foot
{
    margin: 20px;
    box-shadow:  10px 10px 10px #000000,
    0px 0px 0px #ffffff;
    background-color: #3A435E;

}

.head, .main, .foot, .foot div
{
    display: flex;
}

.head, .main, .foot, .link, .dimOverlay
{
    color: white;
}

.head, .main, .foot ,figure img
{
    border-radius: 10px;
}

.head a, .link
{
    text-decoration: none;
}

.head a, .dimOverlay
{
    transition: all 1s;
}

h1, .head a:hover
{
    font-size: 18px;
}

h1, p, a
{
    font-weight: 400;
}

span, div a
{
    background: linear-gradient(to right, white, black);
    background-clip: text;
    color: transparent;
}

p, a, .link
{
    font-size: 9px;
}

p, a
{
    font-family: "Rammetto One", sans-serif;
}

.gallery, .link
{
    padding: 10px;
}

.imageWrapper, .link
{
	position: relative;
}

.foot, .foot div
{
    justify-content: center;
}

div p, .link:after
{
    border-bottom: 2px solid white;
}

.head h1::after, .head h1::before
{
    content: "";
    display: inline-block;
    margin-left: 10px; 
    margin-right: 10px;
    width: 20px; 
    height: 20px;
    background-image: url(../images/camera_icon.png);
    background-size: 20px 20px;
}

.link:before, .link:after, .link:hover:before, .link:hover:after
{
    transition: all 0.3s ease;
}

.link:before, .link:after, .dimOverlay
{
    position: absolute;
}

.link:hover:before, .link:hover:after, figure img
{
	height: 100%;
}

.link:before, .link:after 
{
    content: '';
    width: 10px;
    height: 10px;
}

/********** DRY - DONE **********/

body
{
    background-color: #5C6672; 
}

.head
{
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.head a
{
    color: #1b39c9;
}

h1
{
    font-family: "Permanent Marker", sans-serif;
}

figure img
{   
    object-fit: cover;
}

.dimOverlay
{
    inset: 0;
    padding: 2px;
    background: rgba(57, 57, 57, 0.7);
    font-size: 10px;
    font-weight: bolder;
}

.foot
{
    gap: 35px;
    flex-wrap: wrap;
    padding: 20px;
}

.link
{
	font-weight: bold;
}

.foot div
{
    flex-basis: 100%;
}

div p
{
    padding-bottom: 2px;
}

.head a:hover
{
    color: purple;
}

.dimOverlay:hover
{
    background: rgba(57, 57, 57, 0);    
    color: rgba(57, 57, 57, 0.0);
}

.link:before 
{
    top: -2.5%;
    left: -1%;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.link:after 
{
    bottom: -2.5%;
    right: -1%;
    border-right: 2px solid white;
}


/*********** Tablet Design ***********/
@media (min-width: 601px)
{
    .head h1::after, .head h1::before
    {
        width: 25px; 
        height: 25px;
        background-size: 25px 25px;
    }
    
    p, a
    {
        font-size: 13px;
    }

    h1
    {
        font-size: 25px;
    }

    .dimOverlay
    {
        font-size: 13px;
    }

    .link
    {
        font-size: 13px;
    }

    .head a:hover
    {
        font-size: 26px;
    }
}


/*********** Desktop Design ***********/
@media (min-width: 1280px)
{
    .head h1::after, .head h1::before
    {
        margin-left: 20px;
        margin-right: 20px;
        width: 45px; 
        height: 45px;
        background-size: 45px 45px;
    }

    p, a
    {
        font-size: 25px;
    }

    h1
    {
        font-size: 50px;
    }

    .dimOverlay
    {
        padding: 10px;
        font-size: 25px;
    }

    .link
    {
        font-size: 20px;
    }

    .head a:hover
    {
        font-size: 50px;
    }

    .dimOverlay::before
    {
        content: "Creator: \000A";
        white-space: pre;
    }

}